.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


main {
  padding: 30px;
}

.block-item {
  background-color: #222;
  color: #fff;
  margin: 20px 0;
  padding: 25px;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

